.DS_Store
*.toc
*.manifest
*.zip
*.pyz
*.pyc
*.txt
*.plist
source/__pycache__/
build/tmp/AnnotationTool/AnnotationTool.pkg
build/tmp/AnnotationTool/xref-AnnotationTool.html
source/AnnotationTool.spec
examples/example TEI Files/annotierte_TEI_Dateien/
